.underline{
  height: 4px;
  width: 4rem;
  border-radius: 4px;
  background-color: red;
}
.subUnderline{
  height: 4px;
  width: 5rem;
  border-radius: 5px;
  background-color: springgreen;
  margin-bottom: 15px;
}
.MV {
  background-color: #f2f2f2;
}
.cardShadow{
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.cardShadow:hover{
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.underlineFooter{
  height: 1.5px;
  width: 12rem;
  background-color: darkgrey;
}
.iframeHeight{
  height: 550px !important;
}